extends layout.pug

block content
  div(class="font-semibold font-title") Authentication Sandbox
  p 
    button(id="promptForConsentButton" class="button-primary" disabled) Grant further permissions
  div(id="logs" style="overflow-y: scroll;")
  script(src="/scripts/initTeamsTab.js")
  script(src="/scripts/ssoDemo.js")